:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  /* Адрес в футере */
  --basic-white-opacity: rgba(255, 255, 255, 0.5);
  --white: #f3f7f9;
  /* фон загаловка каталога */
  --whiter: #f2f6f8;
  /* фон заголовков проихвотителей и товаров на главной странице */
  --white-brown: #f9f5f0;
  /* фон заголовков и фильтра в каталоге */
  --light-brown: #f7f3ec;
  /* цвета рамок товаров и производителей */
  --outline-color: #eaeaea;
  /* фон блоков сервиса и информации про перфораторы  */
  --blue-gray: #f1f5f7;
  /* старая цена товаров */
  --light-gray: #a9a9a9;
  /* цвет оформления чекбоксов и наведения на кнопки каталога и преимуществ */
  --forms-color: #c5c5c5;
  /* Цвет чекбоксов при наведении */
  --forms-active: #b5b5b5;
  /* цвет техномарта и кнопок с ценой */
  --basic-red: #ee3643;
  /* цвет при клике */
  --darker-red: #ba2732;
  /* цвет при наведении */
  --dark-red: #ca2c37;
  /* оттенки серого */
  --basic-navy: #293449;
  /* цвет при клике в формах хедера */
  --dark-navy: #161d29;
  /* второй тёмно-синий по частоте использования(!у кнопки в закладки цвет бордера этого цвета!) */
  --light-navy: #32425c;
  /* цвет ховера аватара и выхода из аккаунта */
  --login-navy: #3d546f;
  /* цвет при клике в навигации */
  --darker-navy: #1d2739;
  /*цвет кнопок связанных с заказом */
  --basic-green: #63a63e;
  /* наведение на кнопки связанные с заказом */
  --light-green: #5fbb2d;
  /* цвет зеленых кнопок при клике */
  --green: #518534;
  /* цвет теней зеленых кнопок */
  --dark-green: #367315;
  /* цвета фона иконок соцсетей */
  --black-navy: #212a3a;
  /* цвета преимуществ */
  --mint: #8ed78f;
  --yellow: #ffbf47;
  --gold: #ffd180;
  --lilac: #dc91d8;
  --lightblue: #3bbce3;
  --yellow: #ffc047;
}
body {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.main-header {
  background-color: var(--blue-gray);
}
.header-forms {
  background-color: var(--basic-navy);
  color: var(--basic-white);
}
.shop-name {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}
.place-order button {
  background-color: var(--basic-green);
  color: inherit;
}
.bookmarks button,
.cart button {
  background-color: transparent;
  color: inherit;
}
header a {
  text-decoration: none;
  color: inherit;
}
.login-forms,
.phone-number {
  font-size: 21px;
}
.shop-subtitle,
.phone-number {
  color: var(--basic-red);
}
.shop-subtitle {
  font-size: 16px;
  line-height: 23px;
}
.phone-number {
  line-height: 30px;
  font-weight: 700;
}
.shop-adress {
  font-size: 14px;
  color: var(--light-navy);
}
.login-forms {
  line-height: 21px;
}
.pagination {
  background-color: var(--light-navy);
}
.pagination a,
.pagination-footer a {
  color: var(--basic-white);
  text-decoration: none;
}
.feature-item {
  color: var(--basic-white);
  width: 300px;
  height: 123px;
}
.feature-item a {
  color: var(--basic-white);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
}
.feature h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.feature-item:first-of-type {
  background-color: var(--gold);
}
.feature-item:nth-of-type(2) {
  background-color: var(--lightblue);
}
.feature-item:nth-of-type(3) {
  background-color: var(--lilac);
}
.feature-item:nth-of-type(4) {
  background-color: var(--mint);
}
.feature-item:last-of-type {
  background-color: var(--yellow);
}
.features-header {
  font-size: 36px;
  font-weight: 700px;
  line-height: 36px;
}

.button {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-decoration: none;
}

.popular-header {
  background-color: var(--white-brown);
  color: var(--light-navy);
  font-size: 30px;
  line-height: 30px;
}
.goods {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  border: 1px solid var(--outline-color);
}
.goods h3 {
  line-height: 20px;
  font-size: 18px;
}
.goods span {
  font-size: 17px;
  line-height: 18px;
  color: var(--light-gray);
  text-decoration: line-through;
}
.maker-logo {
  width: 220px;
  height: 145px;
  border: 1px solid var(--outline-color);
}
.price {
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}
.services {
  background-color: var(--blue-gray);
  line-height: 30px;
}
.services h2,
.slider-active h3,
.services-slider button,
.shop-info h2,
.shop-map h2 {
  font-size: 30px;
  line-height: 30px;
}
.text {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}
.services-slider button {
  font-size: 21px;
  font-weight: 700;
  width: 240px;
  height: 61px;
  color: var(--basic-white);
  background-color: var(--light-navy);
}
button.activated {
  color: var(--light-navy);
  background-color: var(--basic-white);
  border: none;
}
.main-footer {
  background-color: var(--light-navy);
}
.shop-contacts {
  color: var(--white);
}
.site-navigation a {
  color: var(--gold);
}
.feedback-footer {
  background-color: var(--basic-navy);
  font-size: 16px;
  line-height: 18px;
}
.copy {
  color: var(--basic-white);
}
.goods button {
  background-image: url(img/red-button.svg);
  background-repeat: no-repeat;
}
.socials li {
  background: var(--black-navy);
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.socials li:hover {
  background-color: var(--basic-red);
}
.links-list {
  color: var(--basic-white);
}
.links-list a {
  color: var(--gold);
}
/* Различные иконки */
/* .search button[type="submit"] {
  opacity: 0.3;
} */
.bookmarks svg,
.cart svg {
  opacity: 0.3;
}

.search input[type="search"]:hover,
.bookmarks button:hover svg,
.cart button:hover svg {
  opacity: 1;
}
.search input[type="search"]:active,
.bookmarks button:active svg,
.cart button:active svg {
  opacity: 0.5;
}
.new,
.goods.new {
  background-image: url(../img/new.svg);
  background-repeat: no-repeat;
}

.sort-unactive.ascending,
.sort-unactive.descending {
  border: none;
}

/* стили каталога */

.user-info {
  width: 299px;
  height: 45px;
  font-size: 21px;
  line-height: 21px;
}
.user-links {
  font-size: 16px;
  line-height: 18px;
  color: var(--light-navy);
}
.breadcrumbs,
.filter,
.sort {
  font-family: "PT Sans", Arial, sans-serif;
}
.catalog-header {
  font-size: 30px;
  line-height: 30px;
  color: var(--light-navy);
  background-color: var(--whiter);
}

.sort {
  background-color: var(--light-brown);
  text-transform: uppercase;
}
.sort button {
  text-transform: inherit;
}
/* тут у меня рамка получилась с прозрачностью, пока не могу понять как поменять разметку(или стили),чтобы сделать нормально*/
.sort-unactive {
  opacity: 0.3;
  border: none;
  border-bottom: 1px dotted var(--basic-red);
}
.sort-active {
  color: var(--basic-red);
}
.filter-header {
  font-size: 13px;
  line-height: 18px;
  background-color: var(--light-brown);
}
.filter h4 {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.breadcrumbs,
.sort {
  font-size: 13px;
  line-height: 24px;
}
.radio,
.checkbox {
  font-size: 15;
  line-height: 19px;
  text-transform: uppercase;
}
/* спасибо за подсказку. Оно заработало. позже когда именно задание на формы будет, задам им подходящие цвета при интерактивных действиях */
.radio-button input + .radio-button-point {
  background-image: url(../img/radio-off.svg);
  display: block;
  width: 25px;
  height: 25px;
}
.radio-button input:checked + .radio-button-point {
  background-image: url(../img/radio-on.svg);
  width: 25px;
  height: 25px;
}
.checkbox-button input + .checkbox-button-point {
  background-image: url(../img/checkbox-off.svg);
  display: block;
  width: 24px;
  height: 24px;
}
.checkbox-button input:checked + .checkbox-button-point {
  background-image: url(../img/checkbox-on.svg);
  width: 24px;
  height: 24px;
}
.radio-button-point,
.checkbox-button-point {
  background-repeat: no-repeat;
}
input[type="radio"],
input[type="checkbox"] {
  display: none;
}
.range {
  background: var(--light-brown);
}
.catalog-buttons {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  background-color: var(--basic-white);
}
.goods {
  width: 220px;
  height: 318px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  background: var(--basic-white);
  padding-top: 22px;
  padding-left: 33px;
}
.buy {
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px #367315;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}
.to-bookmarks {
  background-color: var(--basic-white);
  border: 3px solid #63a63e;
  color: var(--light-navy);
}
.active {
  background-color: var(--basic-red);
  color: var(--basic-white);
}
.aside {
  background-color: var(--blue-gray);
}

.popup {
  display: none;
}
/* Ховеры и активное состояние */
/* верх шапки */
.place-order:hover button {
  background-color: var(--light-green);
}
.place-order:active button,
.bookmarks button:active,
.cart button:active {
  color: var(--basic-white-opacity);
}

.bookmarks:active button,
.cart:active button {
  background-color: var(--dark-navy);
}
.shop-name {
  background-color: var(--basic-red);
}
.shop-name:active {
  background-color: var(--darker-red);
}
/* поля логина */
.sign-in,
.register {
  background-color: var(--basic-white);
}
/* пока что не работает */
.sign-in-icon:hover {
  fill: var(--login-navy);
}
.register:hover {
  color: var(--basic-red);
}
.sign-in-icon:active,
.register:active {
  background: var(--forms-color);
}
.user-avatar:hover .avatar-svg,
.logout:hover {
  fill: var(--login-navy);
}
.bradcrumbs:first-child:after {
  content: "";
  background-image: url(../img/icon-right-small.svg);
  display: inline-block;
}
.my-orders:hover,
.personal-account:hover {
  color: var(--basic-red);
}

.user-name:active,
.logout:active,
.my-orders:active,
.personal-account:active {
  color: var(--forms-color);
}
/* навигация по сайту */
.pagination li:hover {
  background-color: var(--basic-navy);
}
.pagination li:active {
  background-color: var(--darker-navy);
  opacity: 0.5;
}
/* Преимущества */
.feature-item a:hover {
  background-color: rgba(197, 197, 197, 0.3);
}
.feature-item a:active {
  background-color: rgba(169, 169, 169, 0.3);
}
/* Красные кнопки на всех страницах */
.button:hover {
  background-color: var(--dark-red);
}
.button:active {
  background-color: var(--darker-red);
}
/* Карточка товаров в каталоге */
.goods:hover .popup {
  display: block;
}
.goods:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.buy:hover {
  background-color: var(--light-green);
}
.buy:active {
  background-color: var(--green);
}
.to-bookmarks:hover {
  border-color: var(--light-navy);
}
.to-bookmarks:active {
  border-color: var(--light-navy);
  opacity: 0.5;
}
/* карточки производителей */
.maker-logo:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.maker-logo:active {
  opacity: 0.5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
/* сортировка */
.sort-list button:hover {
  opacity: 1;
  border-bottom: 1px solid var(--basic-red);
}
/* переключение между страницами каталога */
.catalog-buttons:hover {
  border: 1px solid #c5c5c5;
}
.catalog-buttons:active {
  border: 1px solid #ee3643;
}

.services-slider:hover {
  background-color: var(--basic-navy);
}
.pagination-footer a,
.site-navigation a,
.links-list a {
  text-decoration: none;
}
.pagination-footer a:hover,
.site-navigation a:hover,
.links-list a:hover {
  text-decoration: underline;
}
.pagination-footer a:active,
.site-navigation a:active {
  opacity: 0.5;
}
.links-list a:active {
  color: var(--basic-red);
}
