:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  /* Адрес в футере */
  --basic-white-opacity: rgba(255, 255, 255, 0.5);
  --white: #f3f7f9;
  /* фон загаловка каталога */
  --whiter: #f2f6f8;
  /* фон заголовков проихвотителей и товаров на главной странице */
  --white-brown: #f9f5f0;
  /* фон заголовков и фильтра в каталоге */
  --light-brown: #f7f3ec;
  /* цвета рамок товаров и производителей */
  --outline-color: #eaeaea;
  /* фон блоков сервиса и информации про перфораторы  */
  --blue-gray: #f1f5f7;
  /* старая цена товаров */
  --light-gray: #a9a9a9;
  /* цвет оформления чекбоксов и наведения на кнопки каталога и преимуществ */
  --forms-color: #c5c5c5;
  /* Цвет чекбоксов при наведении */
  --forms-active: #b5b5b5;
  /* цвет техномарта и кнопок с ценой */
  --basic-red: #ee3643;
  /* цвет при клике */
  --darker-red: #ba2732;
  /* цвет при наведении */
  --dark-red: #ca2c37;
  /* оттенки серого */
  --basic-navy: #293449;
  /* цвет при клике в формах хедера */
  --dark-navy: #161d29;
  /* второй тёмно-синий по частоте использования(!у кнопки в закладки цвет бордера этого цвета!) */
  --light-navy: #32425c;
  /* цвет ховера аватара и выхода из аккаунта */
  --login-navy: #3d546f;
  /* цвет при клике в навигации */
  --darker-navy: #1d2739;
  /*цвет кнопок связанных с заказом */
  --green-hover: #5fbb2d;
  --basic-green: #63a63e;
  /* наведение на кнопки связанные с заказом */
  --light-green: #668853;
  /* цвет зеленых кнопок при клике */
  --green: #518534;
  /* цвет теней зеленых кнопок */
  --dark-green: #367315;
  /* цвета фона иконок соцсетей */
  --black-navy: #212a3a;
  /* цвета преимуществ */
  --mint: #8ed78f;
  --yellow: #ffbf47;
  --gold: #ffd180;
  --lilac: #dc91d8;
  --lightblue: #3bbce3;
  --darker-yellow: #ffc047;
}
body {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.page {
  height: 100%;
}
.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-header {
  background-color: var(--blue-gray);
  height: 320px;
  display: grid;
  grid-template-rows: 50px 1fr auto 1fr;
  gap: 40px;
}

.main-header .wrapper,
.header-forms {
  height: 42px;
}
.main-header .wrapper {
  background-color: var(--basic-navy);
}

.header-forms {
  color: var(--basic-white);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.container {
  margin: 0 auto;
  max-width: 940px;
}
main .wrapper {
  background-color: var(--blue-gray);
  height: 522px;
}
footer .wrapper:nth-of-type(2) {
  background-color: var(--basic-navy);
}
.aside {
  background-color: var(--blue-gray);
  padding-top: 64px;
  padding-bottom: 68px;
  height: 261px;
  box-sizing: border-box;
}
.article-header {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 25px;
  margin-top: 0;
  font-weight: 400;
}
.shop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 940px;
}
header .main-nav {
  margin: 0;
  min-height: 60px;
  width: 940px;
  padding: 0;
  flex-wrap: wrap;
}
.main-nav li:first-child {
  margin-left: 53px;
}
.main-nav a {
  display: block;
  padding: 16px 24px 20px 27px;
}

.features {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
}
.slider {
  grid-row-start: 2;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: -2;
  margin: 0;
  position: relative;
}
.slider img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.slider button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
.figure-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 104px;
  color: var(--basic-white);
}

.popular-goods {
  display: grid;
  grid-template-rows: 100px 340px;
  grid-template-columns: repeat(4, 220px);
  gap: 20px;
}

.popular-makers {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: 100px 150px 150px;
  gap: 20px;
}
.popular-goods .popular-header,
.popular-makers .popular-header {
  grid-column-start: 1;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: 1fr 250px;
  margin-bottom: 20px;
}
.shop-info {
  display: grid;
  grid-template-columns: 560px 380px;
}
.shop-name,
.shop-name-footer {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  flex-basis: 220px;
  height: 47px;
  display: flex;
  justify-content: center;
}

.shop-name-footer {
  height: 68px;
}
.shop-name svg {
  padding: 12px 57px 17px 55px;
}
.shop-name-footer svg {
  padding: 20px 41px 25px 41px;
}
.search {
  min-width: 271px;
  position: relative;
  padding-top: 10px;
  margin-right: 47px;
}
.search button {
  position: absolute;
  left: 0;
  top: 10px;
  border: none;
  outline: none;
  background-color: var(--basic-navy);
}
.search svg {
  opacity: 0.3;
}
.pagination:first-of-type {
  box-shadow: inset 0px -5px 0px #293449;
}
.navigation-list {
  display: flex;
  list-style: none;
}

.search input[type="search"],
.bookmarks button,
.cart button,
.place-order button,
.range input[type="number"],
.goods button{
  outline: none;
  border: none;
  cursor: pointer;
}
.search input[type="search"] {
  padding-left: 28px;
  background-color: var(--basic-navy);
}

.place-order button {
  background-color: var(--basic-green);
  color: inherit;
  padding: 9px 16px;
  min-height: 42px;
}
.bookmarks button,
.cart button {
  background-color: transparent;
  color: inherit;
  height: 42px;
  box-sizing: border-box;
  padding-top: 9px;
  padding-bottom: 9px;
}
.bookmarks button {
  padding-left: 20px;
  padding-right: 24px;
}
.cart button {
  padding-left: 12px;
  padding-right: 21px;
}
.added button {
  background-color: var(--basic-red);
}
header a {
  text-decoration: none;
  color: inherit;
}
.login-forms,
.phone-number {
  font-size: 21px;
}
.shop-subtitle,
.phone-number {
  color: var(--basic-red);
}
.shop-subtitle {
  font-size: 16px;
  line-height: 23px;
  margin: 0;
  padding-left: 30px;
}
.phone-number {
  line-height: 30px;
  font-weight: 700;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  padding: 7px 45px 8px 40px;
  display: flex;
  align-items: baseline;
  height: 45px;
  width: 270px;
  justify-content: space-between;
}

.shop-address {
  font-size: 14px;
  color: var(--light-navy);
}
.login-forms {
  line-height: 21px;
  display: flex;
  height: 45px;
  justify-content: space-between;
}
.login-forms.logged-in {
  display: flex;
  flex-direction: row;
}

.sign-in {
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  width: 121px;
  padding: 12px 27px 12px 19px;
}
.sign-in,
.register {
  display: block;
  height: 45px;
  box-sizing: border-box;
}

.register {
  width: 150px;
  padding: 12px 24px;
}

.pagination {
  background-color: var(--light-navy);
}
.navigation-list a {
  color: var(--basic-white);
  text-decoration: none;
}
.feature-item {
  color: var(--basic-white);
  width: 300px;
  height: 123px;
  display: flex;
  margin: 0;
}
.feature-text a {
  color: var(--basic-white);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  line-height: 18px;
}
.feature-item h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.feature-text {
  padding-left: 22px;
}
.feature-item:first-of-type {
  background-color: var(--yellow);
}
.feature-item:nth-of-type(2) {
  background-color: var(--lightblue);
}
.feature-item:nth-of-type(3) {
  background-color: var(--lilac);
}
.feature-item:nth-of-type(4) {
  background-color: var(--mint);
}
.feature-item:last-of-type {
  background-color: var(--darker-yellow);
}
.features-header {
  font-size: 36px;
  font-weight: 700px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 5px;
  padding: 23px 0px 0px 24px;
}
.features-description {
  margin: 0;
  padding-bottom: 16px;
  padding-left: 24px;
}
.slider .slider-left {
  position: absolute;
  top: 123px;
  left: 25px;
  z-index: 2;
}
.slider .slider-right {
  position: absolute;
  top: 122px;
  right: 21px;
  z-index: 2;
  transform: rotate(180deg);
}

.button {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-decoration: none;
  width: 192px;
  height: 38px;
}

.popular-header {
  background-color: var(--white-brown);
  color: var(--light-navy);
  font-size: 30px;
  line-height: 30px;
}

.goods {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  border: 1px solid var(--outline-color);
  width: 220px;
  min-height: 318px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  background: var(--basic-white);
  display: grid;
  grid-template-rows: 170px 1fr 1fr 40px;
  position: relative;
}

.goods h3 {
  line-height: 20px;
  font-size: 18px;
  padding-left: 30px;
  padding-right: 33px;
  text-align: center;
  margin-bottom: 7px;
}
.goods span {
  font-size: 17px;
  line-height: 18px;
  color: var(--light-gray);
  text-decoration: line-through;
  text-align: center;
  margin-top: 0;
}
.maker-logo {
  width: 220px;
  height: 145px;
  border: 1px solid var(--outline-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.price {
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  width: 141px;
  height: 38px;
}
.services {
  line-height: 30px;
  display: flex;
  flex-wrap: wrap;
}
.services-info {
  flex-basis: 100%;
  margin-bottom: 70px;
}
.services-slider {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}
.slider-active .text {
  width: 300px;
}
.slider-active img {
  position: relative;
  bottom: 150px;
  left: 145px;
}
.slider-active h3 {
  color: var(--light-navy);
  font-weight: inherit;
  text-transform: uppercase;
  margin-top: 0;
}
.services h2,
.slider-active h3,
.services-slider button,
.shop-info h2 {
  font-size: 30px;
  line-height: 30px;
}
.text {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}
.services-slider button {
  font-size: 21px;
  font-weight: 700;
  width: 240px;
  height: 61px;
  color: var(--basic-white);
  background-color: var(--light-navy);
  border: none;
}
button.activated {
  color: var(--light-navy);
  background-color: var(--basic-white);
  border: none;
}
.main-footer {
  background-color: var(--light-navy);
  display: grid;
  grid-template-rows: min-content;
}
.pagination-footer {
  display: grid;
  width: 940px;
  grid-template-columns: 220px 133px 1fr;
  gap: 20px;
}
.footer-nav {
  grid-column-start: -2;
  grid-column-end: -1;
  display: flex;
  justify-content: space-between;
}

.second-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;
}
.site-navigation {
  display: flex;
  list-style: none;
  flex-basis: 55%;
  justify-content: space-between;
}
.shop-contacts {
  color: var(--white);
}
.site-navigation a {
  color: var(--gold);
}
.feedback-footer {
  font-size: 16px;
  line-height: 18px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
}
/* Сетка каталога */
.breadcrumbs {
  display: flex;
  list-style: none;
}
.breadcrumbs li {
  color: var(--basic-black);
  margin-right: 41px;
  position: relative;
}
.breadcrumbs a {
  text-decoration: none;
  color: var(--basic-black);
}
.breadcrumbs li:after {
  position: absolute;
  content: "";
  background-image: url(../img/icon-right-small.svg);
  width: 8px;
  height: 12px;
  top: 5px;
  right: -25px;
}
.breadcrumbs li:last-child {
  margin-right: 0;
}
.breadcrumbs-current::after {
  display: none;
}
.grid-box {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  grid-template-rows: 50px 1000px 50px;
}
.sort {
  display: flex;
  width: 700px;
}
.sort-header {
  padding-left: 10px;
}
.sort-list {
  display: flex;
  list-style: none;
  flex-basis: 100%;
  justify-content: space-evenly;
}
.goods-list {
  grid-column-start: 1;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: repeat(3, 220px);
  gap: 20px;
}
.catalog-links {
  list-style: none;
  display: flex;
}
.catalog-links li {
  margin-right: 10px;
}
.catalog-links li:last-child {
  margin-right: 0;
}
.catalog-links a {
  text-decoration: none;
  color: var(--basic-black);
}
li .active {
  background-color: var(--basic-red);
  color: var(--basic-white);
}
.copy {
  color: var(--basic-white);
  width: 240px;
}
.goods button {
  background-image: url(img/red-button.svg);
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  bottom: 21px;
  left: 47px;
}
.socials ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  width: 132px;
}
.socials {
  align-self: center;
}
.social-button {
  background: var(--black-navy);
  width: 43px;
  height: 43px;
  border-radius: 50%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-button:hover {
  background-color: var(--basic-red);
}
.links-list {
  color: var(--basic-white);
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 300px;
  padding: 0;
}
.links-list li:last-child {
  margin-right: 0;
}
.links-list a {
  color: var(--gold);
}

.bookmarks svg,
.cart svg {
  opacity: 0.3;
}

.search input[type="search"]:hover,
.bookmarks button:hover svg,
.cart button:hover svg {
  opacity: 1;
}
.search input[type="search"]:active,
.bookmarks button:active svg,
.cart button:active svg {
  opacity: 0.5;
}
.new {
  background-image: url(../img/new.svg);
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

/* стили каталога */

.user-info {
  width: 299px;
  height: 45px;
  font-size: 21px;
  line-height: 21px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.user-links {
  font-size: 16px;
  line-height: 18px;
  color: var(--light-navy);
  display: flex;
  width: 210px;
  margin-left: 45px;
  justify-content: space-between;
  position: relative;
}
.user-links a:after {
  background-color: var(--light-navy);
  border-radius: 50%;
  content: "";
  width: 5px;
  height: 6px;
  position: absolute;
  top: 7px;
  left: 88px;
}

.breadcrumbs,
.filter,
.sort {
  font-family: "PT Sans", Arial, sans-serif;
}
.catalog-header {
  font-size: 30px;
  line-height: 30px;
  color: var(--light-navy);
  background-color: var(--whiter);
}

.sort {
  background-color: var(--light-brown);
  text-transform: uppercase;
}
.sort button {
  text-transform: inherit;
  border: none;
  outline: none;
  background-color: transparent;
}

.sort-unactive span {
  opacity: 0.3;
  border-bottom: 1px dotted var(--basic-red);
}
.sort-active {
  color: var(--basic-red);
}
.sort-active.sort-ascending path {
  fill: var(--basic-red);
}
.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.filter-header {
  font-size: 13px;
  line-height: 18px;
  background-color: var(--light-brown);
  grid-column-start: 1;
  grid-column-end: -1;
}
.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0001);
}
.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.range-filter {
  display: flex;
  flex-wrap: wrap;
}
.range-controls {
  background-color: var(--light-brown);
  width: 220px;
  height: 80px;
  position: relative;
  margin-bottom: 15px;
  padding: 39px 20px;
  box-sizing: border-box;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls input[type="number"] {
  width: 95px;
  height: 38px;
  background-color: var(--light-brown);
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
.price-controls:last-child {
  margin-right: 0;
}
.breadcrumbs,
.sort {
  font-size: 13px;
  line-height: 24px;
}
.radio,
.checkbox {
  font-size: 15;
  line-height: 19px;
  text-transform: uppercase;
}
.radio-button input + .radio-button-point {
  background-image: url(../img/radio-off.svg);
  display: block;
  width: 25px;
  height: 25px;
}
.radio-button input:checked + .radio-button-point {
  background-image: url(../img/radio-on.svg);
  width: 25px;
  height: 25px;
}
.checkbox-button input + .checkbox-button-point {
  background-image: url(../img/checkbox-off.svg);
  display: block;
  width: 24px;
  height: 24px;
}
.checkbox-button input:checked + .checkbox-button-point {
  background-image: url(../img/checkbox-on.svg);
  width: 24px;
  height: 24px;
}
.radio-button-point,
.checkbox-button-point {
  background-repeat: no-repeat;
}

.catalog-buttons {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  background-color: var(--basic-white);
  padding: 10px 15px;
}
.next {
  padding-left: 32px;
  padding-right: 31px;
}
.show {
  padding-left: 79px;
  padding-right: 80px;
}

.buy {
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px #367315;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}
.to-bookmarks {
  background-color: var(--basic-white);
  border: 3px solid #63a63e;
  color: var(--light-navy);
}

/* Ховеры и активное состояние */
/* верх шапки */
.place-order button:hover {
  background-color: var(--green-hover);
}
.place-order:active button,
.bookmarks button:active,
.cart button:active {
  color: var(--basic-white-opacity);
}

.bookmarks:active button,
.cart:active button {
  background-color: var(--dark-navy);
}

.shop-name:active,
.shop-name-footer:active {
  background-color: var(--darker-red);
}
/* поля логина */
.sign-in,
.register,
.user-info {
  background-color: var(--basic-white);
}
.register:hover,
.sign-in:hover {
  color: var(--basic-red);
}
.sign-in:active,
.register:active {
  color: var(--forms-color);
}
.sign-in:hover path {
  fill: var(--light-navy);
}
.sign-in:active path {
  fill: var(--forms-color);
}
.user-avatar:hover .avatar-svg,
.logout:hover {
  fill: var(--login-navy);
}
.bradcrumbs:first-child:after {
  content: "";
  background-image: url(../img/icon-right-small.svg);
  display: inline-block;
}
.my-orders:hover,
.personal-account:hover {
  color: var(--basic-red);
}

.user-name:active,
.logout:active,
.my-orders:active,
.personal-account:active {
  color: var(--forms-color);
}

.pagination li:hover {
  background-color: var(--basic-navy);
}
.pagination li:active {
  background-color: var(--darker-navy);
  opacity: 0.5;
}

/* Преимущества */
.feature-item a:hover {
  background-color: rgba(197, 197, 197, 0.3);
}
.feature-item a:active {
  background-color: rgba(169, 169, 169, 0.3);
}
/* Красные кнопки на всех страницах */
.button:hover {
  background-color: var(--dark-red);
}
.button:active {
  background-color: var(--darker-red);
}
/* Карточка товаров в каталоге */
.goods:hover .popup {
  display: block;
}
.goods:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.buy:hover {
  background-color: var(--light-green);
}
.buy:active {
  background-color: var(--green);
}
.to-bookmarks:hover {
  border-color: var(--light-navy);
}
.to-bookmarks:active {
  border-color: var(--light-navy);
  opacity: 0.5;
}
/* карточки производителей */
.maker-logo:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.maker-logo:active {
  opacity: 0.5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
/* сортировка */
.sort-unactive:hover span {
  opacity: 1;
  border-bottom: 1px solid var(--basic-red);
}
.sort-unactive:active span {
  color: var(--basic-red);
  border: none;
}
.sort-unactive.sort-ascending:hover path {
  fill: var(--basic-black);
}
.sort-unactive.sort-ascending:active path {
  fill: var(--basic-red);
}
/* переключение между страницами каталога */
.catalog-buttons:hover {
  border: 1px solid #c5c5c5;
}
.catalog-buttons:active {
  border: 1px solid #ee3643;
}
.services-slider button:hover {
  background-color: var(--basic-navy);
  color: var(--basic-white);
}
.site-navigation a,
.links-list a {
  text-decoration: none;
}
.footer-nav a:hover,
.site-navigation a:hover,
.links-list a:hover {
  text-decoration: underline;
}
.links-list a:active {
  color: var(--basic-red);
}
.footer-nav a:active,
.site-navigation a:active {
  opacity: 0.5;
  text-decoration: none;
}
