:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-white-opacity: rgba(255, 255, 255, 0.5);
  --white: #f3f7f9;
  --whiter: #f2f6f8;
  --white-brown: #f9f5f0;
  --light-brown: #f7f3ec;
  --outline-color: #eaeaea;
  --blue-gray: #f1f5f7;
  --light-gray: #a9a9a9;
  --forms-color: #c5c5c5;
  --forms-active: #b5b5b5;
  --modal-gray: #f1f1f1;
  --basic-red: #ee3643;
  --darker-red: #ba2732;
  --dark-red: #ca2c37;
  --credit-red: #ff5357;
  --basic-navy: #293449;
  --dark-navy: #161d29;
  --light-navy: #32425c;
  --login-navy: #3d546f;
  --darker-navy: #1d2739;
  --green-hover: #5fbb2d;
  --basic-green: #63a63e;
  --light-green: #668853;
  --green: #518534;
  --dark-green: #367315;
  --black-navy: #212a3a;
  --search-opacity: #69717f;
  --range: #d7dcde;
  --mint: #8ed78f;
  --yellow: #ffbf47;
  --gold: #ffd180;
  --lilac: #dc91d8;
  --lightblue: #3bbce3;
  --darker-yellow: #ffc047;
  --range-fill: #00ca74;
  --range-toggle: #ababab;
  --range-shadow: #cfcfcf;
  --catalog-button: #e5e5e5;
}
body {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.page {
  height: 100%;
}
.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  max-width: 100%;
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-header {
  background-color: var(--blue-gray);
  height: 320px;
  display: grid;
  grid-template-rows: 50px 1fr auto 1fr;
  gap: 38px;
  margin-bottom: 59px;
}
.main-header.catalog {
  margin-bottom: 19px;
}
.main-header .wrapper,
.header-forms {
  height: 42px;
}
.main-header .wrapper {
  background-color: var(--basic-navy);
}

.header-forms {
  color: var(--basic-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  margin: 0 auto;
  max-width: 940px;
}
main > .container {
  margin-bottom: 70px;
}
main .wrapper {
  background-color: var(--blue-gray);
  height: 522px;
  margin-bottom: 50px;
}
footer .wrapper:nth-of-type(2) {
  background-color: var(--basic-navy);
  height: 107px;
}
.aside {
  background-color: var(--blue-gray);
  padding-top: 64px;
  padding-bottom: 68px;
  height: 261px;
  box-sizing: border-box;
}
.article-header {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 25px;
  margin-top: 0;
  font-weight: 400;
}
.shop {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
  width: 940px;
  margin-bottom: 2px;
}
header .main-nav {
  margin: 0;
  min-height: 60px;
  width: 940px;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}
.main-nav a {
  display: block;
  padding: 17px 24px 20px 27px;
  margin: 0;
}

.main-nav li {
  margin-right: 5px;
}
.main-nav li:last-child {
  margin-right: 0px;
}
.features {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
  margin-bottom: 59px;
}
.slider {
  grid-row-start: 2;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: -2;
  margin: 0;
  position: relative;
}
.slider img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.slider button {
  border: none;
  outline: none;
  background-color: transparent;
}
.slide-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 104px;
  color: var(--basic-white);
}
.slide {
  display: none;
}
.slide-current {
  display: block;
}
.slider-controls .current {
  background-color: var(--basic-red);
}
.popular-goods,
.popular-makers {
  display: grid;
  gap: 20px;
  margin-bottom: 67px;
}
.popular-goods {
  grid-template-rows: 90px 320px;
  grid-template-columns: repeat(4, 220px);
}

.popular-makers {
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: 90px 145px 145px;
}
.popular-goods .popular-header,
.popular-makers .popular-header {
  grid-column-start: 1;
  grid-column-end: -1;
}
.shop-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.company-info,
.shop-map {
  margin-top: 19px;
}
.company-info {
  flex-basis: 460px;
}
.company-info p:first-of-type {
  margin-bottom: 27px;
}
.company-info p:last-of-type {
  margin-bottom: 4px;
}
.delivery-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 11px;
}
.delivery-list li {
  position: relative;
  padding-left: 36px;
  padding-bottom: 10px;
}
.delivery-list li:last-child {
  padding-top: 2px;
}
.delivery-list li:before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  left: 0;
  top: 13px;
}
.shop-info .button {
  display: block;
  width: 220px;
}
.shop-map {
  flex-basis: 300px;
}
.shop-map .text {
  margin-bottom: 34px;
}
.shop-map .button {
  width: 100%;
}
.shop-map img {
  margin-bottom: 19px;
}
.shop-name,
.shop-name-footer {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  flex-basis: 220px;
  height: 48px;
  display: flex;
  justify-content: center;
}
.shop-info .text {
  margin-top: 23px;
}
.shop-name-footer {
  height: 68px;
}
.shop-name svg {
  padding: 12px 57px 17px 55px;
}
.shop-name-footer svg {
  padding: 20px 41px 25px 41px;
}
.search {
  position: relative;
  flex-grow: 1;
}
.search-button {
  position: absolute;
  left: 11px;
  top: 11px;
  border: none;
  outline: none;
  background-color: inherit;
}
.search-icon path {
  fill: var(--search-opacity);
}
.search input[type="search"]::placeholder {
  color: var(--basic-white);
}
.pagination:first-of-type {
  box-shadow: inset 0px -5px 0px var(--basic-navy);
}
.navigation-list {
  display: flex;
  list-style: none;
}
button,
.checkbox-button,
.radio-button {
  cursor: pointer;
}
.search input[type="search"],
.bookmarks button,
.cart button,
.place-order button,
.range input[type="number"],
.services-slider button,
.modal-buttons button,
.modal-close {
  outline: none;
  border: none;
}
.search input[type="search"] {
  padding-left: 42px;
  background-color: var(--basic-navy);
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  display: block;
}
.place-order button {
  background-color: var(--basic-green);
  color: inherit;
  width: 150px;
  padding: 9px 16px 9px 19px;
  height: 42px;
}
.bookmarks button,
.cart button {
  background-color: transparent;
  color: inherit;
  height: 42px;
  box-sizing: border-box;
  padding-top: 11px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 400;
  font-family: "Cuprum", Arial, sans-serif;
}
.bookmarks {
  margin-right: 14px;
}
.bookmarks button {
  padding-right: 24px;
  padding-left: 43px;
  box-sizing: border-box;
  min-width: 83px;
}

.cart button {
  text-align: center;
  padding-left: 20px;
  min-width: 136px;
}
.added button {
  background-color: var(--basic-red);
}
header a {
  text-decoration: none;
  color: inherit;
}
.login-forms,
.phone-number {
  font-size: 21px;
}
.shop-subtitle,
.phone-number {
  color: var(--basic-red);
}
.shop-subtitle {
  font-size: 16px;
  line-height: 23px;
  margin: 0;
  padding-left: 30px;
  margin-right: 6px;
  flex-basis: 350px;
}
.phone-number {
  border: 3px solid var(--basic-white);
  box-sizing: border-box;
  display: block;
  height: 45px;
  width: 270px;
  text-align: center;
  margin-bottom: 3px;
  position: relative;
}
.phone-number svg {
  position: absolute;
  left: 36px;
  top: 10px;
}
.phone-number div {
  height: 100%;
  padding-top: 4px;
  padding-left: 27px;
  box-sizing: border-box;
  line-height: 30px;
  font-weight: 700;
}

.shop-address {
  font-size: 14px;
  color: var(--light-navy);
  font-style: normal;
  text-align: center;
  padding-right: 26px;
}
.login-forms {
  line-height: 21px;
  display: flex;
  height: 45px;
  justify-content: space-between;
}
.logged-in {
  display: flex;
  flex-wrap: wrap;
}

.sign-in {
  margin-left: 20px;
  margin-right: 10px;
  display: block;
  width: 121px;
  padding: 12px 27px 12px 45px;
  position: relative;
}
.sign-in svg {
  position: absolute;
  left: 19px;
  top: 14px;
}
.sign-in,
.register {
  display: block;
  height: 45px;
  box-sizing: border-box;
}

.register {
  width: 150px;
  padding: 12px 24px;
}
.pagination {
  background-color: var(--light-navy);
}
.navigation-list a {
  color: var(--basic-white);
  text-decoration: none;
}
.services h2,
.slider-active h3,
.services-slider button,
.shop-info h2,
.popular-header h2 {
  font-size: 30px;
  line-height: 30px;
}
.services h2,
.slider-active h3,
.shop-info h2,
.popular-header h2 {
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
.slider-active {
  position: relative;
}
.services-info h2 {
  margin-bottom: 25px;
}
.slider-active h3 {
  margin-bottom: 30px;
}
.feature-item {
  color: var(--basic-white);
  width: 300px;
  height: 123px;
  display: flex;
  margin: 0;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.feature-text a {
  color: var(--basic-white);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  width: 135px;
  display: block;
  box-sizing: border-box;
  height: 38px;
  text-align: center;
}
.feature-item h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 19px;
  margin-bottom: 13px;
}
.feature-text {
  margin-left: 23px;
  margin-bottom: 20px;
}
.feature-item img {
  margin-right: 30px;
  margin-left: 30px;
  flex-grow: 1;
}
.feature-item:first-of-type {
  background-color: var(--yellow);
}
.feature-item:nth-of-type(2) {
  background-color: var(--lightblue);
}
.feature-item:nth-of-type(3) {
  background-color: var(--lilac);
}
.feature-item:nth-of-type(4) {
  background-color: var(--mint);
}
.feature-item:last-of-type {
  background-color: var(--darker-yellow);
}
.features-header {
  font-size: 36px;
  font-weight: 700px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 5px;
  padding: 23px 0px 0px 24px;
  text-transform: uppercase;
}
.features-description {
  margin: 0;
  padding-bottom: 16px;
  padding-left: 24px;
}
.slider .slider-left {
  position: absolute;
  top: 120px;
  left: 18px;
  z-index: 2;
}
.slider .slider-right {
  position: absolute;
  top: 116px;
  right: 13px;
  z-index: 2;
  transform: rotate(180deg);
}

.button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-decoration: none;
  border: none;
  outline: none;
  width: 192px;
  height: 38px;
  font-weight: 400;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 9px;
}
.slider .button {
  position: absolute;
  bottom: 27px;
  left: 24px;
  z-index: 2;
}
.slider-controls {
  position: absolute;
  bottom: 36px;
  left: 295px;
  z-index: 3;
  display: flex;
  width: 30px;
  justify-content: space-between;
}
.slider-controls button {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
}
.popular-header {
  background-color: var(--white-brown);
  color: var(--light-navy);
  font-size: 30px;
  line-height: 30px;
  height: 89px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 20px;
  padding-left: 28px;
}
.popular-header a {
  margin-right: 19px;
  margin-bottom: 2px;
}
.goods {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  border: 1px solid var(--outline-color);
  width: 220px;
  height: 318px;
  box-sizing: border-box;
  border: 1px solid var(--outline-color);
  background: var(--basic-white);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  align-items: flex-end;
}

.goods h3 {
  font-size: 18px;
  line-height: 20px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  margin: 0;
}
.goods p {
  font-size: 17px;
  line-height: 18px;
  color: var(--light-gray);
  text-decoration: line-through;
  text-align: center;
  margin: 0;
  flex-basis: 100%;
}
.goods .image-container {
  min-width: 184px;
  height: 164px;
  margin-top: 6px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goods-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 140px;
  width: 100%;
}
.price {
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  background-image: url(../img/red-button.svg);
  background-repeat: no-repeat;
  width: 141px;
  height: 38px;
  box-sizing: border-box;
  background-color: transparent;
  margin-left: 45px;
  align-self: flex-end;
  margin-bottom: 23px;
  padding-top: 9px;
  padding-left: 33px;
}

.new {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
}
.maker-logo {
  width: 220px;
  height: 145px;
  border: 1px solid var(--outline-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.services {
  line-height: 30px;
  display: flex;
  flex-wrap: wrap;
}
.services-info {
  flex-basis: 100%;
  margin-top: 64px;
  margin-bottom: 70px;
}
.services-slider {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  position: relative;
}
.services-slider:after {
  position: absolute;
  background-image: url(../img/side-line.svg);
  height: 279px;
  width: 10px;
  content: "";
  top: -49px;
  right: 0;
  z-index: 2;
}
.delivery .text {
  width: 300px;
}
.warranty .text {
  width: 331px;
}
.credit .text {
  width: 309px;
  margin-bottom: 25px;
}
.delivery img {
  position: absolute;
  top: 19px;
  left: 151px;
}
.warranty img {
  position: absolute;
  top: 1px;
  left: 240px;
}
.credit img {
  position: absolute;
  top: -2px;
  left: 165px;
}
.credit button {
  width: 195px;
  height: 39px;
  border: none;
  color: var(--basic-white);
  background-color: var(--credit-red);
  border-radius: 2px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.slider-active h3 {
  color: var(--light-navy);
  font-weight: inherit;
  margin-top: 0;
}
.slider-unactive {
  display: none;
}
.text {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}
.services-slider button {
  font-size: 21px;
  font-weight: 700;
  width: 240px;
  height: 61px;
  color: var(--basic-white);
  background-color: var(--light-navy);
  border: none;
  text-align: left;
  padding-left: 22px;
}
button.activated {
  color: var(--light-navy);
  background-color: var(--basic-white);
  border: none;
}
.main-footer {
  background-color: var(--light-navy);
  display: grid;
  grid-template-rows: min-content;
}
.pagination-footer {
  display: grid;
  width: 940px;
  grid-template-columns: 220px 1fr;
  gap: 20px;
}
.footer-nav {
  grid-column-start: -2;
  grid-column-end: -1;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-left: 111px;
}

.second-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;
}
.site-navigation {
  display: flex;
  list-style: none;
  flex-basis: 56%;
  justify-content: space-between;
  margin-top: 17px;
}
.shop-contacts {
  color: var(--white);
  margin-top: 11px;
}
.shop-contacts address {
  font-style: normal;
  margin-bottom: 0;
}
.shop-contacts a {
  margin: 0;
  padding-left: 1px;
  padding-top: 1px;
  text-decoration: none;
  color: inherit;
}
.site-navigation a {
  color: var(--gold);
}
.feedback-footer {
  font-size: 16px;
  line-height: 18px;
  display: grid;
  grid-template-columns: 300px 280px auto;
  gap: 20px;
  padding-top: 20px;
}
/* Сетка каталога */
.breadcrumbs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.breadcrumbs li {
  color: var(--basic-black);
  margin-right: 41px;
  position: relative;
}
.breadcrumbs a {
  text-decoration: none;
  color: var(--basic-black);
}
.breadcrumbs li:after {
  position: absolute;
  content: "";
  background-image: url(../img/icon-right-small.svg);
  width: 8px;
  height: 12px;
  top: 5px;
  right: -25px;
}
.breadcrumbs li:last-child {
  margin-right: 0;
}
.breadcrumbs-current::after {
  display: none;
}
.grid-box {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  grid-template-rows: 50px 1fr 50px;
  gap: 16px 0px;
  margin-bottom: 9px;
}
.sort {
  display: flex;
  width: 700px;
  padding-bottom: 20px;
}
.sort-header {
  margin: 0;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  flex-basis: 260px;
}
.sort-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  flex-basis: 680px;
  margin: 0;
  padding-top: 7px;
  justify-content: space-between;
  margin-right: 5px;
}
.sort-arrows {
  padding-top: 5px;
  margin-right: 10px;
  width: 54px;
  display: flex;
  justify-content: space-between;
}
.sort-list li:first-child {
  margin-right: 20px;
}
.sort-list li:nth-child(2) {
  margin-right: 20px;
}
.goods-list {
  grid-column-start: 1;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: repeat(3, 220px);
  gap: 18px 20px;
}
.catalog-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 39px;
}

.catalog-links li {
  margin-right: 9px;
  box-sizing: border-box;
}
.catalog-links li:last-child {
  margin-right: 0;
}
.catalog-links a {
  text-decoration: none;
  color: var(--basic-black);
  border-radius: 2px;
}
li .catalog-current {
  background-color: var(--basic-red);
  color: var(--basic-white);
}
.catalog-links .catalog-buttons:hover,
.catalog-links .catalog-buttons:focus {
  border-color: var(--forms-color);
}
.catalog-links .catalog-buttons:active {
  border-color: var(--basic-red);
}
.copy {
  color: var(--basic-white);
  width: 240px;
}
.socials {
  align-self: center;
}
.socials ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 70px;
  padding: 0;
  width: 132px;
}

.social-button {
  background: var(--black-navy);
  width: 41px;
  height: 41px;
  border-radius: 50%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red);
}
.links-list {
  color: var(--basic-white);
  list-style: none;
  display: flex;
  width: 300px;
  padding: 0;
  margin-left: 20px;
}
.links-list li:first-child {
  margin-right: 50px;
}
.links-list a {
  color: var(--gold);
}

.cart svg {
  position: absolute;
  left: 12px;
  top: 13px;
}
.bookmarks svg {
  position: absolute;
  left: 20px;
  top: 13px;
}
.bookmarks svg,
.cart svg {
  opacity: 0.3;
}

.bookmarks button:hover svg,
.cart button:hover svg,
.bookmarks button:focus svg,
.cart button:focus svg {
  opacity: 1;
}
.bookmarks button:active svg,
.cart button:active svg {
  opacity: 0.5;
}
.search:hover .search-icon path {
  fill:var(--basic-white);
}
.search .search-button:active {
  opacity: 0.3;
}
.search input[type="search"]:focus {
  background-color: var(--basic-white);
}
input[type="search"]:focus + .search-button path {
  fill: var(--basic-red);
}
/* стили каталога */

.user-info {
  width: 299px;
  height: 45px;
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.user-name {
  position: relative;
}
.avatar-svg {
  position: absolute;
  left: -42px;
  top: 1px;
}
.logout {
  position: absolute;
  top: 14px;
  right: 16px;
}
.user-links {
  font-size: 16px;
  line-height: 18px;
  color: var(--light-navy);
  display: flex;
  width: 210px;
  margin-left: 45px;
  justify-content: space-between;
  position: relative;
}
.user-links a:after {
  background-color: var(--light-navy);
  border-radius: 50%;
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  top: 7px;
  left: 88px;
}

.breadcrumbs,
.filter,
.sort {
  font-family: "PT Sans", Arial, sans-serif;
}
.catalog-header {
  font-size: 30px;
  line-height: 30px;
  color: var(--light-navy);
  background-color: var(--whiter);
  box-sizing: border-box;
  width: 100%;
  min-height: 89px;
  padding-top: 30px;
  padding-left: 29px;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 16px;
}

.sort {
  background-color: var(--light-brown);
  text-transform: uppercase;
}
.sort button {
  text-transform: inherit;
  border: none;
  outline: none;
  background-color: transparent;
}

.sort-unactive span {
  opacity: 0.3;
  border-bottom: 1px dotted var(--basic-red);
}
.sort-active {
  color: var(--basic-red);
}
.sort-active.sort-ascending path {
  fill: var(--basic-red);
}

.filter-header {
  font-size: 13px;
  line-height: 18px;
  background-color: var(--light-brown);
  grid-column-start: 1;
  grid-column-end: -1;
  box-sizing: border-box;
  width: 220px;
  height: 38px;
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 10px;
  padding-left: 18px;
  margin-top: 0;
}
.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--forms-color);
}
.filter fieldset:last-of-type {
  border: none;
}
.checkbox {
  margin-bottom: 20px;
}
.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.price-header {
  margin-bottom: 12px;
}
.maker-header {
  margin-bottom: 16px;
}
.radio-header {
  margin-bottom: 22px;
}
.range-controls {
  background-color: var(--light-brown);
  width: 220px;
  height: 80px;
  position: relative;
  margin-bottom: 10px;
  padding: 39px 20px;
  box-sizing: border-box;
}

.range-controls .scale {
  height: 2px;
  background: var(--range);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--range-fill);
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--range-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--range-shadow);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  width: 220px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 23px;
}
.price-controls input[type="number"] {
  width: 95px;
  height: 38px;
  background-color: var(--light-brown);
  padding-top: 10px;
  padding-bottom: 16px;
  padding-left: 17px;
  text-align: center;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 18px;
}
.min-price:after {
  content: "—";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 6px;
  right: 49%;
}
.breadcrumbs,
.sort {
  font-size: 13px;
  line-height: 24px;
}
.checkbox,
.radio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.filter .radio {
  margin-bottom: 18px;
}
.checkbox-button .title,
.radio-button .title {
  padding-left: 35px;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}
.checkbox-button {
  position: relative;
  margin-bottom: 15px;
  flex-basis: 100%;
}
.radio-button {
  position: relative;
  margin-bottom: 17px;
}
.checkbox .checkbox-button:last-of-type {
  margin-bottom: 26px;
}
.radio-button input + .radio-button-point {
  border-radius: 50%;
  box-sizing: border-box;
  border: 4px solid var(--forms-color);
  width: 25px;
  height: 25px;
  position: absolute;
}
.radio-button input:checked + .radio-button-point:after {
  background-color: var(--forms-color);
  width: 9px;
  height: 9px;
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
}
.radio-button input:hover + .radio-button-point,
.checkbox-button input:hover + .checkbox-button-point {
  border-color: var(--forms-active);
}
.radio-button input:checked:hover + .radio-button-point:after {
  background-color: var(--forms-active);
}
.radio-button input:disabled + .radio-button-point {
  border-color: var(--forms-active);
  opacity: 0.3;
}
.radio-button input:disabled + .radio-button-point:after {
  background-color: var(--forms-active);
  opacity: 0.3;
}
.checkbox-button input + .checkbox-button-point {
  border: 2px solid var(--forms-color);
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  width: 23px;
  height: 23px;
  position: absolute;
}
.checkbox-button input:checked + .checkbox-button-point:after {
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  content: "";
  width: 21px;
  height: 17px;
  left: 2px;
  top: -1px;
  position: absolute;
}

.radio-button input:hover + .radio-button-point,
.checkbox-button input:hover + .checkbox-button-point {
  border-color: var(--forms-active);
}
.radio-button input:checked:hover + .radio-button-point:after {
  background-color: var(--forms-active);
}
.checkbox-button input:checked:hover + .checkbox-button-point:after {
  background-image: url(../img/checkbox-on-hover.svg);
}
.radio-button input:disabled + .radio-button-point {
  border-color: var(--forms-active);
  opacity: 0.3;
}
.radio-button input:disabled + .radio-button-point:after {
  background-color: var(--forms-active);
  opacity: 0.3;
}
.checkbox-button input:disabled + .checkbox-button-point {
  border-color: var(--forms-active);
  opacity: 0.3;
}
.checkbox-button input:disabled + .checkbox-button-point:after {
  background-image: url(../img/checkbox-on-hover.svg);
}
.checkbox input[type="checkbox"]:focus + span,
.radio input[type="radio"]:focus + span {
  outline: 2px solid var(--basic-navy);
}
.catalog-buttons {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid var(--catalog-button);
  background-color: var(--basic-white);
  padding: 10px 15px;
}
.filter .catalog-buttons {
  height: 38px;
  width: 220px;
}
.next {
  padding-left: 32px;
  padding-right: 31px;
}
.show {
  padding-left: 79px;
  padding-right: 80px;
}
.buy,
.to-bookmarks {
  width: 135px;
  height: 38px;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-left: 41px;
  font-size: 14px;
  line-height: 18px;
}
.buy {
  background-color: var(--basic-green);
  border: none;
  box-shadow: inset 0px -3px 0px var(--dark-green);
  color: var(--basic-white);
  position: relative;
  text-align: center;
  padding-left: 20px;
  margin-top: 38px;
  margin-bottom: 10px;
}
.buy svg {
  position: absolute;
  opacity: 0.3;
  top: 10px;
  left: 30px;
}
.to-bookmarks {
  background-color: var(--basic-white);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  color: var(--light-navy);
  box-sizing: border-box;
  width: 135px;
  height: 38px;
}
.modal-cart,
.modal-feedback {
  display: none;
  position: fixed;
  width: 620px;
  background-color: var(--basic-white);
  z-index: 3;
}
.modal-cart {
  height: 282px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  top: 10%;
  left: 30%;
}
.modal-feedback {
  height: 430px;
  top: 10%;
  left: 30%;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}
.modal-map {
  width: 943px;
  height: 449px;
  position: fixed;
  z-index: 3;
  top: 10%;
  left: 15%;
  display: none;
  background-image: url(img/shop-address.jpg);
}

.modal-map:before {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--basic-red);
  width: 100%;
  height: 7px;
}
.modal-show {
  display: block;
}
.modal-cart p {
  position: relative;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 74px;
  margin-left: 176px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.modal-buttons {
  height: 112px;
  background-color: var(--modal-gray);
}
.modal-cart .modal-buttons {
  display: flex;
  justify-content: center;
  margin-top: 66px;
  align-items: center;
  width: 100%;
}
.modal-cart .button {
  margin-right: 10px;
}
.modal-cart button {
  flex-basis: 192px;
  height: 38px;
  background-color: var(--basic-white);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.feedback-forms {
  display: grid;
  grid-template-columns: repeat(2, 220px);
  grid-template-rows: 70px, 150px;
  gap: 20px;
  box-sizing: border-box;
  margin-left: 80px;
  margin-top: 47px;
  margin-bottom: 30px;
}
.feedback-item label {
  display: block;
  margin-bottom: 10px;
  padding-left: 1px;
}
.feedback-item input,
.feedback-item textarea {
  border-radius: 2px;
  border: 2px solid var(--forms-color);
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.feedback-item input::placeholder,
.feedback-item textarea::placeholder {
  color: var(--light-gray);
}
.feedback-item:nth-child(2) {
  grid-column-start: -2;
  grid-column-end: -1;
}
.feedback-item textarea {
  width: 460px;
  height: 114px;
  box-sizing: border-box;
  resize: none;
  padding-top: 4px;
  padding-left: 10px;
}
.feedback-item:last-child {
  margin-top: -6px;
  padding-left: 0;
}
.feedback-item input[type="text"],
.feedback-item input[type="email"] {
  width: 220px;
  height: 38px;
  box-sizing: border-box;
  padding: 7px 0 7px 9px;
}
.modal-feedback .button {
  width: 460px;
  margin-left: 80px;
  margin-top: 37px;
}

.modal-cart .modal-close,
.modal-cart:before,
.modal-cart p:before,
.modal-feedback:before,
.modal-feedback .modal-close,
.modal-map:before,
.modal-map .modal-close {
  position: absolute;
  content: "";
}
.modal-feedback:before {
  background-image: url(../img/tomato-line.svg);
  width: 620px;
  height: 7px;
  top: 0;
  left: 0;
}
.modal-cart p:before {
  background-image: url(../img/icon-mark.svg);
  width: 66px;
  height: 66px;
  top: -19px;
  left: -95px;
  z-index: 4;
}
.modal-cart:before {
  background-image: url(../img/red-line.svg);
  width: 620px;
  height: 7px;
  top: 0;
  left: 0;
}
.modal-cart .modal-close,
.modal-feedback .modal-close,
.modal-map .modal-close {
  background-image: url(../img/icon-close.svg);
  background-color: transparent;
  top: 18px;
  right: 11px;
  width: 21px;
  height: 21px;
}
.modal-feedback .modal-close {
  top: 21px;
}
.modal-map .modal-close {
  top: 16px;
  right: 10px;
}

/* Ховеры и активное состояние */
/* верх шапки */
.place-order button:hover,
.place-order button:focus {
  background-color: var(--green-hover);
}
.place-order:active button,
.bookmarks button:active,
.cart button:active {
  color: var(--basic-white-opacity);
}

.bookmarks:active button,
.cart:active button {
  background-color: var(--dark-navy);
}

.shop-name:active,
.shop-name-footer:active {
  background-color: var(--darker-red);
}
/* поля логина */
.sign-in,
.register,
.user-info {
  background-color: var(--basic-white);
}
.register:hover,
.sign-in:hover,
.register:focus,
.sign-in:focus {
  color: var(--basic-red);
}
.sign-in:active,
.register:active {
  color: var(--forms-color);
}
.sign-in:hover path,
.sign-in:focus path {
  fill: var(--light-navy);
}
.sign-in:active path {
  fill: var(--forms-color);
}
.bradcrumbs:first-child:after {
  content: "";
  background-image: url(../img/icon-right-small.svg);
  display: inline-block;
}
.my-orders:hover,
.personal-account:hover,
.my-orders:focus,
.personal-account:focus {
  color: var(--basic-red);
}

.logout:hover path,
.user-name:hover path,
.logout:focus path,
.user-name:focus path {
  fill: var(--login-navy);
}

.user-name:active span,
.user-name:active path,
.logout:active path,
.my-orders:active,
.personal-account:active {
  color: var(--forms-color);
  fill: var(--forms-color);
}

.pagination li:hover,
.pagination li:focus {
  background-color: var(--basic-navy);
}
.pagination li:active {
  background-color: var(--darker-navy);
  opacity: 0.5;
}

/* Преимущества */
.feature-item a:hover,
.feature-item a:focus {
  background-color: rgba(197, 197, 197, 0.3);
}
.feature-item a:active {
  background-color: rgba(169, 169, 169, 0.3);
}
/* Красные кнопки на всех страницах */
.button:hover,
.button:focus {
  background-color: var(--dark-red);
}
.button:active {
  background-color: var(--darker-red);
}
/* Карточка товаров в каталоге */
.goods .popup {
  display: none;
}
.goods:hover .popup,
.goods:focus .popup,
.goods:focus-within .popup {
  display: block;
  min-width: 184px;
  height: 164px;
  margin-top: 6px;
  margin-bottom: 8px;
}

.goods:hover .image-container,
.goods:focus .image-container,
.goods:focus-within .image-container {
  display: none;
}
.goods:hover,
.goods:focus{
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.buy:hover {
  background-color: var(--green-hover);
}
.buy:active {
  background-color: var(--green);
}
.to-bookmarks:hover,
.to-bookmarks:focus {
  border-color: var(--light-navy);
}
.to-bookmarks:active {
  border-color: var(--light-navy);
  opacity: 0.5;
}

/* карточки производителей */
.maker-logo:hover,
.maker-logo:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.maker-logo:active {
  opacity: 0.5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
/* сортировка */
.sort-unactive:hover span,
.sort-unactive:focus span {
  opacity: 1;
  border-bottom: 1px solid var(--basic-red);
}
.sort-unactive:active span {
  color: var(--basic-red);
  border: none;
}
.sort-unactive.sort-ascending:hover path,
.sort-unactive.sort-ascending:focus path {
  fill: var(--basic-black);
}
.sort-unactive.sort-ascending:active path {
  fill: var(--basic-red);
}
/* переключение между страницами каталога */
.catalog-buttons:hover,
.catalog-buttons:focus {
  border: 1px solid var(--forms-color);
}
.catalog-buttons:active {
  border: 1px solid var(--basic-red);
}
.services-slider button:hover,
.services-slider button:focus {
  background-color: var(--basic-navy);
  color: var(--basic-white);
}
.site-navigation a,
.links-list a {
  text-decoration: none;
}
.footer-nav a:hover,
.site-navigation a:hover,
.links-list a:hover,
.footer-nav a:focus,
.site-navigation a:focus,
.links-list a:focus {
  text-decoration: underline;
}
.links-list a:active {
  color: var(--basic-red);
}
.footer-nav a:active,
.site-navigation a:active {
  opacity: 0.5;
  text-decoration: none;
}
